<div class="space"></div>
<div class="container">
    <div class="row">
        <div class="col-4 col-sm-6 col-md-6 col-lg-5" style=" height:150px;border: 1px solid gold"></div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-1" style=" height:150px;border: 1px solid balck"></div>
        <div class="col-3 col-sm-2 col-md-2 col-lg-3" style=" height:150px; border: 1px solid green"></div>
        <div class="col-3 col-sm-2 col-md-2 col-lg-3" style=" height:150px;border: 1px solid gold"></div>
    </div>
</div>