<%= provide(:title, 'home') %>
<div class="space"></div>
<div class="container-fluid">
    <div class="row">

        <div class="d-none d-sm-none d-md-block col-md-3 col-lg-3">
            <h1 class="text-center"> The category</h1>
            <div class="good_left">

            </div>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">
            <h1 class="text-center"> The category being displayed </h1>
            <div class="card">
                <div class="card-header d-flex">
                    <p class="mr-auto">pagination</p>
                    <input type="select" class="form-control" style="width:200px;height:20px">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4  col-md-4 col-lg-3">
                            <div class="items">
                                <div class="item-photo"></div>
                                <div class="item-brand"></div>
                                <div class="item-description"></div>
                                <div class="item-price"></div>
                                <button class="btn btn-default">BUY</button>
                            </div>

                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-3">
                            <div class="items">
                                <div class="item-photo"></div>
                                <div class="item-brand"></div>
                                <div class="item-description"></div>
                                <div class="item-price"></div>
                                <button class="btn btn-default">BUY</button>
                            </div>

                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-3">
                            <div class="items">
                                <div class="item-photo"></div>
                                <div class="item-brand"></div>
                                <div class="item-description"></div>
                                <div class="item-price"></div>
                                <button class="btn  btn-default">BUY</button>
                            </div>

                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-3">
                            <div class="items">
                                <div class="item-photo"></div>
                                <div class="item-brand"></div>
                                <div class="item-description"></div>
                                <div class="item-price"></div>
                                <button class="btn  btn-default">BUY</button>
                            </div>

                        </div>
                    </div>

                    <div class="clear_fix"></div>

                </div>
            </div>
        </div>
    </div>
</div>