<%= provide(:title, "home")%>
<div class="space"></div>

<div class="container home-wrap">
  <div class="row">

    <div class="col-lg-2">
      <div class="section_one_left"></div>
    </div>
    <div class="col-lg-8">
      <div class="section_one_mid"></div>
    </div>
    <div class="col-lg-2">
      <div class="section_one_right"></div>
    </div>
  </div>

  <div class="clear_fix"></div>

  <div class="panel shaddow">
    <div class="panel-header bg-primary ">this is going to be a header</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
      </div>
    </div>

  </div>


  <div class="clear_fix"></div>

  <div class="panel shaddow">
    <div class="panel-header bg-primary ">this is going to be a header</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2">
          <div class="section_three"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_three"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_three"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_three"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_three"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_three"></div>
        </div>
      </div>
      <div class="clear_fix"></div>
      <div class="row">
        <div class="col-lg-2">
          <div class="section_three"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_three"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_three"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_three"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_three"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_three"></div>
        </div>
      </div>
    </div>

  </div>


  <div class="panel shaddow">
    <div class="panel-header bg-primary ">this is going to be a header</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="section_four"></div>
        </div>
        <div class="col-lg-6">
          <div class="section_four"></div>
        </div>
      </div>
    </div>

  </div>


  <div class="clear_fix"></div>

  <div class="panel shaddow">
    <div class="panel-header bg-primary ">this is going to be a header</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
      </div>
    </div>

  </div>


  <div class="panel shaddow">
    <div class="panel-header bg-primary ">this is going to be a header</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="section_four"></div>
        </div>
        <div class="col-lg-6">
          <div class="section_four"></div>
        </div>
      </div>
    </div>

  </div>


  <div class="clear_fix"></div>

  <div class="panel shaddow">
    <div class="panel-header bg-primary ">this is going to be a header</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
      </div>
    </div>

  </div>


  <div class="panel shaddow">
    <div class="panel-header bg-primary ">this is going to be a header</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="section_four"></div>
        </div>
        <div class="col-lg-6">
          <div class="section_four"></div>
        </div>
      </div>
    </div>

  </div>


  <div class="clear_fix"></div>

  <div class="panel shaddow">
    <div class="panel-header bg-primary ">this is going to be a header</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
      </div>
    </div>

  </div>


  <div class="panel shaddow">
    <div class="panel-header bg-primary ">this is going to be a header</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="section_four"></div>
        </div>
        <div class="col-lg-6">
          <div class="section_four"></div>
        </div>
      </div>
    </div>

  </div>


  <div class="clear_fix"></div>

  <div class="panel shaddow">
    <div class="panel-header bg-primary ">this is going to be a header</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
        <div class="col-lg-2">
          <div class="section_two"></div>
        </div>
      </div>
    </div>

  </div>

</div>
<!--end-main-container-->