// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_bottom_function_box{
  padding: 10px 0px 10px 0px;
  border:1px solid white;
  border-radius: 5px;
  background: #ffffff
}
.cart_foot{
  width: 100%;
  padding: 20px 5px 20px 0px;
  background-image: linear-gradient( #fff,#fde2e2, #fff);
}
.total{
   padding:50px 40px 0px 0px;
   margin-left: 70%; 
}
.total_message{
  
  margin-left: 70%; 
   padding:0px 40px 40px 0px;
}
.f_13{
  color: gray;
  font-size:12px;
}
