
.shaddow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section_one_left{
    width: 90%;
    padding: 18px;
    border-radius: 5px;
}

.section_one_mid{
    width: 100%;
    height:260px;
    background: green;
    border-radius: 4px;
}

.section_one_mid_under{
    width: 100%;
    height:110px;
    background: gold;
    border:1px solid red;
    border-radius: 2px;
}
.section_one_right{
    width: 100%;
    height: 175px;
    background: rebeccapurple;
    border-radius: 4px;
}
.section_two_1{
    background: blue; 
    width: 100%;
    height: 180px;
}
.section_two_2{
    background: green; 
    width: 100%;
    height: 180px;
}

.section_two_3{
    background: silver;
    width: 100%;
    height: 180px; 
}
.card-body{
    padding: 5px;
}
.section_two_4{
    background: violet; 
    width: 100%;
    height: 180px;
}
.section_two_5{
    background: pink; 
    width: 100%;
    height: 180px;
}

.section_two_6{
    width: 100%;
    height: 180px;
    background: yellow; 
}


.section_three_1{
    background: blue; 
    width: 100%;
    height: 140px;
}

.section_three_2{
    background: green; 
    width: 100%;
    height: 140px;
}

.section_three_3{
    background: silver;
    width: 100%;
    height: 140px; 
}

.section_three_4{
    background: violet; 
    width: 100%;
    height: 140px;
}

.section_three_5{
    background: pink; 
    width: 100%;
    height: 140px;
}

.section_three_6{
    width: 100%;
    height: 140px;
    background: yellow; 
}
.section_four{
    width: 100%;
    height: 199px;
    background: green;
}
.navbar-fixed-bottom{
    background:#fff;
}
.form-bottom{
    padding: 5px;
    width: 100%;
}
.rounded{
    border: 0;
    border-radius: 0;
    margin-left:5%;
}
.icon-bar{
    background: gold;
}
// special shapes
  .burst-8-wrap{
      position: absolute;
  }
   .burst-8 {
      background: red;
      width: 40px;
      height: 40px;
      position: relative;
      text-align: center;
      transform: rotate(20deg);
    }
    .burst-8:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      width: 40px;
      background: red;
      transform: rotate(135deg);
    }
    .white{
        color: white;
    }
    .h4{
        margin-top: 30px;
        font-size: 0.75rem;
        font-weight: 700;
    }
    .h4 +h6{
        margin-bottom: 10px;
    }
    .ul{   
         padding: 5%;
         height: 30%;
         
            li{
                text-decoration: none;
                font-size: 0.80rem;
            }
        }
    .lastmost{
        border-top: 1px solid silver;
        padding: 10px;
        }
    .foot_link{
        color: white;
        font-weight: 500;
    }
    .foot_link:hover{
        color: silver;
    }