.navbar-fixed-top{
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#logo{
    text-decoration: none;
    font-family: Nunito; 
    font-size: 34px;
    position:absolute;  
    font-variant: normal; 
    font-weight: 700; 
}
nav > ul >li{
    font-family: Nunito;  
    font-weight: 700; 
}

.signup{
    width: 100%;
    padding: 20px 0 20px 0;
    font-family: nunito;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-image: linear-gradient(to right, #00b7ff, #fff );
    border-top-right-radius: 10px;
}
.btn{
    margin-top: 5px;
}
.space{
    height:60px;
}
.clear_fix{
    width: 100%;
    height:30px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.note{
    font-size: 10px;
    font-family: nunito;
    font-weight: bolder;
    padding-top: 10px;
}
.checkbox {
    margin-left: 8%;
    span {
      margin-left: 10px;
      font-weight: bold;
      opacity: 0.8;
    }
  }
